.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    .error {
      color: red;
      margin-bottom: 20px;
    }
    .title {
      margin: 10px 0;
    }
  }

  @media screen and (max-width: 900px) {
    .custom-button {
      justify-self: center;
    }
  }
  